@import '../../styles/variables';
@import '../../styles/mixins';

.repoCardContainer {
  margin: 24px;
}

.repoNameText {
  margin-right: 4px;
}

.loginOwnerText {
  padding-left: 4px;
  font-weight: 700;
}

.cardActionButton {
  @include flex;
  justify-content: center;
}
