@import '../../styles/variables';
@import '../../styles/mixins';

.repoCardContainer {
  margin: $spacing * 6;
}

.repoNameText {
  margin-right: $spacing;
}

.loginOwnerText {
  font-weight: 700;
}

.cardActionButton {
  @include flex-center;
}

.starsBox {
  @include flex-row;
}
